{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login_form</title>
    <link rel="stylesheet" href="{% static 'css/login_form.css' %}" />
</head>

<style>
        body {
            background:
                #f7c40d
                url({% static 'images/pixarbay.png' %})
                center
                no-repeat
                fixed;
        }
</style>

<body>

<div class="form">
    <h1>Благодарим за регистрацию!!!</h1>
    <a>{{ new_user.email }}</a>
    <a href="{% url 'accounts:login_views' %}">Войти!</a>
</div>
</body>